/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* COLORS */
/* FONT */
/* COMMON CSS */
.weight-black {
  font-weight: 900;
}

.weight-extra-bold {
  font-weight: 800;
}

.weight-bold {
  font-weight: 700;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-medium {
  font-weight: 500;
}

.text-primary {
  color: #221935;
}

.text-accent {
  color: #FF9A40;
}

/* -------------- BODY ---------------- */
/* HERO SECTION */
html, body {
  margin: 0 auto;
  width: 95vw;
  font-family: "Raleway", sans-serif;
}

/*SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  padding-top: 2vh;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
}

.hero-section {
  height: 98vh;
  width: 100%;
  display: flex;
}
.hero-section--left {
  width: 40vw;
  position: relative;
  align-self: flex-end;
}
.hero-section--left img {
  margin-left: -3vw;
  height: 47vw;
}
.hero-section--left h2 {
  color: white;
  font-size: 5vw;
  font-weight: 600;
  position: absolute;
  bottom: 2vh;
}
.hero-section--right {
  width: 60vw;
  align-self: flex-end;
  margin-left: 2vw;
}
.hero-section--right .skills {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.hero-section--right .inner-skill {
  width: 200%;
  display: flex;
  flex-direction: flex;
  animation: marquee 10s linear infinite;
}
.hero-section--right ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25vh;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.hero-section--right ul li {
  font-size: 1.5vw;
}
.hero-section--right h1 {
  position: relative;
  line-height: 78.5%;
  font-weight: 600;
  font-size: 7.5vw;
  left: 20px;
}
.hero-section--right h1::before {
  content: "BRENT JUDE ESPINOSA";
  color: #FF9A40;
  position: absolute;
  font-size: 1.5vw;
  transform: rotate(-90deg);
  left: -9vw;
  bottom: 6vw;
}

/* ABOUT */
.about {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.about--left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about--left h2 {
  font-size: 2.5vw;
}
.about--left .arrow-line {
  position: relative;
  height: 3px;
  width: 100%;
  background: #FF9A40;
  margin-top: -5px;
}
.about--left .arrow-line::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  right: -5px;
  top: -10px;
  transform: rotate(45deg);
  background: #FF9A40;
}
.about--left .arrow-line::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  right: -5px;
  bottom: -10px;
  transform: rotate(-45deg);
  background: #FF9A40;
}
.about--left a {
  font-size: 1vw;
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}
.about--left .arrow-southeast {
  position: relative;
  display: inline-block;
  height: 3px;
  width: 20px;
  background: #FF9A40;
  transform: rotate(45deg);
}
.about--left .arrow-southeast::before {
  position: absolute;
  height: 3px;
  width: 10px;
  background: #FF9A40;
  right: 0;
  transform: rotate(45deg);
}
.about--right {
  position: relative;
  width: 60%;
  font-size: 1.2vw;
  letter-spacing: 1px;
  line-height: 156.5%;
  padding: 100px 0;
  padding-left: 100px;
}
.about--right p {
  position: inherit;
  display: block;
  top: 50px;
  z-index: 1;
}
.about--right img {
  position: absolute;
  width: 20vw;
  top: 50px;
  left: -3vw;
  z-index: 0;
}

/* PORTFOLIO */
.portfolio {
  width: 90%;
  margin: 100px auto;
}
.portfolio--title {
  position: relative;
}
.portfolio--title h2 {
  position: relative;
  font-size: 2.5vw;
  z-index: 1;
}
.portfolio--title img {
  position: absolute;
  top: -100px;
  z-index: 0;
}
.portfolio--nav {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  padding-bottom: 10px;
  border-bottom: 1px solid #FF9A40;
}
.portfolio--nav label {
  font-weight: 600;
  font-size: 1.2vw;
  cursor: pointer;
}
.portfolio--nav input {
  display: none;
}
.portfolio--nav span:hover {
  color: #747474;
}
.portfolio--nav span {
  transition: 0.2s ease-in-out;
}
.portfolio--nav :checked + span {
  color: #FF9A40;
}
.portfolio--grid {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.portfolio--grid a {
  text-decoration: none;
  color: black;
}
.portfolio--grid .grid-item,
.portfolio--grid .grid-sizer {
  width: 30%;
}
.portfolio--grid .grid-item {
  cursor: pointer;
}
.portfolio--grid .grid-item img {
  width: 100%;
}
.portfolio--grid .grid-item h3 {
  font-size: 1.1vw;
}

/* CONTACT */
.contact {
  width: 90%;
  margin: 0 auto;
}
.contact--title {
  position: relative;
  padding-bottom: 100px;
}
.contact--title img {
  width: 200px;
  position: absolute;
  z-index: 0;
  top: -60px;
  left: -60px;
}
.contact--title h2 {
  position: relative;
  z-index: 1;
  color: #221935 !important;
}
.contact--form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
}
.contact--form form .form-group {
  position: relative;
}
.contact--form form .form-group .form-field {
  display: block;
  width: 70%;
  height: 36px;
  border-width: 0 0 1px 0;
  border-color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact--form form .form-group .form-field:focus {
  outline: none;
}
.contact--form form .form-group .form-field.not-empty + .label {
  transform: translateY(-24px);
}
.contact--form form .form-group .label {
  position: absolute;
  top: 10px;
  transition: 0.2s ease-in-out;
  color: rgb(138, 138, 138);
}
.contact--form form .field-message {
  grid-column: 1/4;
}
.contact--form form .field-message .form-field {
  width: 90%;
}
.contact--form form .submit-btn {
  cursor: pointer;
  border: none;
  width: 70%;
  grid-column: 3;
  grid-row: 3;
  padding: 10px 20px !important;
  background: #221935 !important;
  color: #FF9A40 !important;
}
.contact--form form .submit-btn:hover {
  background: #FF9A40 !important;
  color: #221935 !important;
}

/* FOOTER */
footer {
  position: absolute;
  left: 0;
  margin-top: 50px;
  padding: 20px 5%;
  width: 90% !important;
  background-image: url("https://res.cloudinary.com/didnrexct/image/upload/v1642668908/Group_5_fq5dbv.png");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
footer .portfolio-name {
  font-size: 27px;
  color: white;
}
footer .links ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .links ul li {
  justify-self: center;
}
footer .links ul a {
  text-decoration: none !important;
  color: white;
}
footer .links ul a:hover {
  color: #221935;
}

/** ======================================
=============== MOBILE VIEW ==============
=========================================**/
@media only screen and (max-width: 768px) {
  header {
    padding-top: 2vh;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }
  .hero-section {
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero-section--left {
    width: 100vw;
    position: relative;
    align-self: flex-start;
  }
  .hero-section--left img {
    margin-top: 5vh;
    margin-left: -10vw;
    height: 120vw;
  }
  .hero-section--left h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    bottom: 2vh;
  }
  .hero-section--right {
    width: 90vw;
    align-self: flex-end;
    margin-left: 2vw;
  }
  .hero-section--right ul {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25vh;
  }
  .hero-section--right ul li {
    font-size: 18px;
  }
  .hero-section--right h1 {
    position: relative;
    line-height: 78.5%;
    font-weight: 600;
    font-size: 44px;
    left: 0px;
  }
  .hero-section--right h1::before {
    content: "BRENT JUDE ESPINOSA";
    color: #FF9A40;
    position: absolute;
    font-size: 16px;
    transform: rotate(-90deg);
    left: -27vw;
    bottom: 6vw;
  }
  /* ABOUT */
  .about {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .about--left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about--left h2 {
    font-size: 27px;
  }
  .about--left .arrow-line {
    position: relative;
    height: 3px;
    width: 100%;
    background: #FF9A40;
    margin-top: -5px;
  }
  .about--left .arrow-line::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    right: -5px;
    top: -10px;
    transform: rotate(45deg);
    background: #FF9A40;
  }
  .about--left .arrow-line::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    right: -5px;
    bottom: -10px;
    transform: rotate(-45deg);
    background: #FF9A40;
  }
  .about--left a {
    font-size: 1vw;
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .about--left .arrow-southeast {
    position: relative;
    display: inline-block;
    height: 3px;
    width: 20px;
    background: #FF9A40;
    transform: rotate(45deg);
  }
  .about--left .arrow-southeast::before {
    position: absolute;
    height: 3px;
    width: 10px;
    background: #FF9A40;
    right: 0;
    transform: rotate(45deg);
  }
  .about--right {
    position: relative;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 156.5%;
    padding: 20px 0;
    padding-left: 0px;
  }
  .about--right p {
    position: inherit;
    display: block;
    top: 50px;
    z-index: 1;
  }
  .about--right img {
    position: absolute;
    width: 60vw;
    top: -200px;
    left: -25vw;
    z-index: -1;
  }
  /* PORTFOLIO */
  .portfolio {
    width: 90%;
    margin: 150px auto;
  }
  .portfolio--title {
    position: relative;
  }
  .portfolio--title h2 {
    position: relative;
    font-size: 27px;
    z-index: 1;
  }
  .portfolio--title img {
    position: absolute;
    top: -100px;
    z-index: 0;
  }
  .portfolio--nav {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 15vw;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF9A40;
  }
  .portfolio--nav label {
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
  }
  .portfolio--nav input {
    display: none;
  }
  .portfolio--nav span:hover {
    color: #747474;
  }
  .portfolio--nav span {
    transition: 0.2s ease-in-out;
  }
  .portfolio--nav :checked + span {
    color: #FF9A40;
  }
  .portfolio--grid {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .portfolio--grid a {
    text-decoration: none;
    color: black;
  }
  .portfolio--grid .grid-item,
  .portfolio--grid .grid-sizer {
    width: 40%;
  }
  .portfolio--grid .grid-item {
    cursor: pointer;
  }
  .portfolio--grid .grid-item img {
    width: 100%;
  }
  .portfolio--grid .grid-item h3 {
    font-size: 1.1vw;
  }
  /* CONTACT */
  .contact {
    width: 90%;
    margin: 0 auto;
  }
  .contact--title {
    position: relative;
    padding-bottom: 100px;
  }
  .contact--title img {
    width: 200px;
    position: absolute;
    z-index: 0;
    top: -60px;
    left: -60px;
  }
  .contact--title h2 {
    position: relative;
    z-index: 1;
    color: #221935 !important;
  }
  .contact--form form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }
  .contact--form form .form-group {
    position: relative;
  }
  .contact--form form .form-group .form-field {
    display: block;
    width: 70%;
    height: 36px;
    border-width: 0 0 1px 0;
    border-color: black;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact--form form .form-group .form-field:focus {
    outline: none;
  }
  .contact--form form .form-group .form-field.not-empty + .label {
    transform: translateY(-24px);
  }
  .contact--form form .form-group .label {
    position: absolute;
    top: 10px;
    transition: 0.2s ease-in-out;
    color: rgb(138, 138, 138);
  }
  .contact--form form .field-message {
    grid-column: 1/4;
  }
  .contact--form form .field-message .form-field {
    width: 90%;
  }
  .contact--form form .submit-btn {
    cursor: pointer;
    border: none;
    width: 70%;
    grid-column: 3;
    grid-row: 3;
    padding: 10px 20px !important;
    background: #221935 !important;
    color: #FF9A40 !important;
  }
  .contact--form form .submit-btn:hover {
    background: #FF9A40 !important;
    color: #221935 !important;
  }
  /* FOOTER */
  footer {
    position: absolute;
    left: 0;
    margin-top: 50px;
    padding: 20px 5%;
    width: 90% !important;
    background-image: url("https://res.cloudinary.com/didnrexct/image/upload/v1642668908/Group_5_fq5dbv.png");
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  footer .portfolio-name {
    font-size: 27px;
    color: white;
  }
  footer .links ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer .links ul li {
    justify-self: center;
  }
  footer .links ul a {
    text-decoration: none !important;
    color: white;
  }
  footer .links ul a:hover {
    color: #221935;
  }
}/*# sourceMappingURL=style.css.map */